 .firstTab{
        color: white;
    }    
    @media(max-width:800px){
        .firstTab{
          color: #777777;
        }  
    }

.left.carousel-control, .right.carousel-control{
    vertical-align: middle;
    padding-top: 30%;
}
.carousel-control .icon-arrow-right, .carousel-control .icon-arrow-left{
  color: #01A3BA;
}
.carousel,.slider-banner{
  min-height: 200px;
  /* background-color: #777; */
    position: relative;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.39); */
}
.carousel .item{
  background: transparent;
}
.carousel-control{
  background: none!important;
}
.carousel .item{
  height: 300px;
  background-color: #777;
}
.preview .slider-banner{
   min-height:250px;
}
.preview .carousel .item {
  min-height:250px;
  background-color: #777;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.location-view{
    width: 100%;
    min-height: 100px;
}
.slider-banner-loader{
    width: 20px;
   margin-top: 50%;   
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-top: 155px!important;
  padding-top: 95px;
   bottom: 0;
}

.carosel.carousel-caption{
  margin-left: 25%;
  top: 0;
}


.carosel.carousel-caption button{
      margin-top: 10px;
      border-radius: 20px;
      background: #01A3BA;
      box-shadow:none!important;
      color:#f5f5f5;
      min-width: 160px;
}
.carosel.carousel-caption p{
      color: #01A3BA;
    /* font-size: large; */
    font-weight: 600;
    font-size: 16px;
}
/* Declare heights because of positioning of img element */

.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.glyphicon {
   top: 40% !important;
}
.preview  .glyphicon{
   top: 60% !important;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 45px;
  }
  .scroll-down{
  	top:87%!important;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@media (max-width:600px){
    .carousel-inner > .item > img {

      height: 100%;
    }
    .carousel-caption {
      top:-2px;
      margin-top: 50px!important;
      padding-top: 35px;
    }
}


.slider-banner{
  width: 92%;
    height: 230px;
    margin-top: 20px;
}

.slider-banner .item{
  border-radius: 20px;
}